<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="web2book.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="web2book.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="rss2book.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <web2book.Settings>
            <setting name="OutputPath" serializeAs="String">
                <value>c:\Tmp</value>
            </setting>
            <setting name="SyncToDevice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteAfterSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>mobileread</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>prs500</value>
            </setting>
            <setting name="LeftMargin" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RightMargin" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TopMargin" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BottomMargin" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PageWidth" serializeAs="String">
                <value>133</value>
            </setting>
            <setting name="PageHeight" serializeAs="String">
                <value>169</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Typeface" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OutputFormat" serializeAs="String">
                <value>HTML</value>
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoUpdateTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SyncDevice" serializeAs="String">
                <value>Sony PRS-500</value>
            </setting>
            <setting name="DeleteFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HtmlTidyPath" serializeAs="String">
                <value>c:\Program Files\Tidy\Tidy.exe</value>
            </setting>
            <setting name="DisplayWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisplayHeight" serializeAs="String">
                <value>0</value>
            </setting>
        </web2book.Settings>
    </userSettings>
</configuration>