<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="web2book.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="writeHtmlDoc.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <web2book.Settings>
            <setting name="HtmlDocPath" serializeAs="String">
                <value>c:\Program Files\Easy Software Products\HTMLDOC</value>
            </setting>
            <setting name="HtmlDocOptions" serializeAs="String">
                <value>--links --toclevels 2 --gray --header ... --footer ... --textcolor black --verbose --no-title</value>
            </setting>
        </web2book.Settings>
        <writeHtmlDoc.Settings>
            <setting name="HtmlDocPath" serializeAs="String">
                <value>c:\Program Files\Easy Software Products\HTMLDOC</value>
            </setting>
        </writeHtmlDoc.Settings>
    </userSettings>
</configuration>