<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="web2book.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SyncPRS500.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <web2book.Settings>
            <setting name="ConnectPath" serializeAs="String">
                <value>c:\Program Files\Sony\CONNECT Reader\Data\bin</value>
            </setting>
            <setting name="ReaderTargetPath" serializeAs="String">
                <value>/Data/media/books/</value>
            </setting>
            <setting name="UseStorageCard" serializeAs="String">
                <value>False</value>
            </setting>
        </web2book.Settings>
        <SyncPRS500.Settings>
            <setting name="ConnectPath" serializeAs="String">
                <value>c:\Program Files\Sony\CONNECT Reader\Data\bin</value>
            </setting>
            <setting name="ReaderTargetPath" serializeAs="String">
                <value>/Data/media/books/</value>
            </setting>
            <setting name="UseStorageCard" serializeAs="String">
                <value>False</value>
            </setting>
        </SyncPRS500.Settings>
    </userSettings>
</configuration>